/* Color 
======================================== */
$primary: #a0e52c;
$secondary: #859763;
$white: #f8fff8;

//text color
$text-primary: $secondary;
$text-secondary: $primary;



/* Typography
======================================== */
$font-main : 'Open Sans', sans-serif;
$font-secondary : 'Bree Serif', serif;

//  font-weight
$font-light: 300;
$font-regular: 400;
$font-semibold:600;
$font-bold: 700;