
.header {
    color: $white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/small.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment:fixed;
    padding-bottom: 10px;

}

.header__hero {
    height: 100%;
    padding: 95px 10px 10px 10px;
    background-color: rgba(0, 0, 0, 0.3);

&::before{
        content:'';
        height: 15px;
        width:100px;
        display:block;
        background-color: $secondary;

}
}

