$hamburger-width:2rem; // mettere sempre il width e height del hamburger a Xrem. cosi che sia pure esso responsive.
$hamburger-height:1.8rem;
$hamburger-item-height:($hamburger-height * 10px)/100px ;

@keyframes navigation{
    from{
        opacity:0;
        transform: translatex(80px);
    }
    to{
        opacity:1;
        transform: translatex(0px);
    }
}

.nav{
    height:100px;
    background-color: $accent;
}
.logo{
    width:50px;
    height:50px;
}
.nav-content{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: $primary;
    position:absolute;
    top:0;
    width:100vw;
    height:100vh;
    transform: translatex(100%);
    transition:all 0.5s ease-in-out;

}

.nav-content--active{
    transform:translatex(0%);
    transition:all 0.5s ease-in-out;

}
.nav-item{
    display:flex;
    flex: 1 1 100%;
    border-bottom: solid 1px rgba(0,0,0,0.15);
}
.nav-item a{

    flex-basis:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    text-transform: capitalize;
    &:hover{
          background-color: rgba(0,0,0,0.10);
      }
    }


/* my Hamburger menu
====================================================*/
//osserviamo che funziona per qualunque valure di altezza o base che io metta.
.hamburger-content{
    width:$hamburger-width;
    height:$hamburger-height;
    position: absolute;
    top:1rem;
    right:1rem;
}

.hamburger-item, .hamburger-item::before, .hamburger-item::after{
    height:$hamburger-item-height;
    background-color: $secondary;
    width:100%;
    border-radius:5px;
    transition:all 0.5s ease-in-out;
}
.hamburger-item{
    position:absolute;
    top:45%;
    opacity:1;
}
.hamburger-item::before{
    content:'';
    position:absolute;
    top:400%; // da capire meglio perchè devo mettere 450 invece di 45%
    left:0;
    

    

}
.hamburger-item::after{
    content:'';
    position:absolute;
    left:0;
    top:-400%; // devo ancora capire perchè devo mettere 450 invece di 45 per farlo funzionare

}

.hamburger-content--active .hamburger-item{
    background-color: rgba(0,0,0,0); // perchè se metto solo opacity, influenzzerebbe anche :before e :after.
    transition:all 0.5s ease-in-out;
}
.hamburger-content--active .hamburger-item::before{
    top:0;
    transform: rotate(45deg);
    transition:all 0.5s ease-in-out;
}
.hamburger-content--active .hamburger-item:after{
    top:0;
    transform: rotate(-45deg);
    transition:all 0.5s ease-in-out;
}

/* Navigation
=====================================================*/

