
@keyframes slide-01{
    0%{
        transform:translatex(0%);
    }
    27%{
        transform:translatex(0%);
    }
    33%{
        transform:translatex(-25%);
    }
    60%{
transform:translatex(-25%);
    }
    66%{
        transform:translatex(-50%);
    }
    93%{
        transform:translatex(-50%);
    }
    100%{
        transform:translatex(-75%);
    }
}

@keyframes slide-02{
    0%{
        transform:translatex(-25%);
    }
    27%{
        transform:translatex(-25%);
    }
    33%{
        transform:translatex(-50%);
    }
    60%{
transform:translatex(-50%);
    }
    66%{
        transform:translatex(-75%);
    }
    93%{
        transform:translatex(0%);
    }
    100%{
        transform:translatex(0%);
    }
}
@keyframes slide-03{
    0%{
        transform:translatex(-50%);
    }
    27%{
        transform:translatex(-50%);
    }
    33%{
        transform:translatex(-75%);
    }
    60%{
transform:translatex(-75%);
    }
    66%{
        transform:translatex(0%);
    }
    93%{
        transform:translatex(-25%);
    }
    100%{
        transform:translatex(-25%);
    }
}
.services{
    padding-top: 60px;
}
.services__slider-container{
    overflow: hidden;
    background-color: red;
    position:relative;
}
.services__slider{
    display:flex;
    width:400%;
    transform: translate3d(0, 0, 0);
    animation: slide-02 ease 10s infinite;
}
.slide{
    flex-basis:25%;
}
.services__holticulture{
    background-image: url(https://unsplash.it/500/300)
}
/*SERVICES NAVIGATION
=======================================================*/
.services__navigation{
background-color: rgba(0,0,0,0.7);
display:inline-block;
width:50%;
padding: 5px;
position:absolute;
bottom:0;
/*to center the absolute positioned element*/
left: 0; 
right: 0; 
margin: 0 auto;
}
.services__button{
    margin: 0 10px;
    color:$primary;
}
/* GREENHOUSE
=============================================================================================================*/
.services__greenhouse{
}
.greenhouse__cta{
    // background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/greenhouse.jpg);
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-position: left top;
    // background-attachment:fixed;

}
.greenhouse__intro{
    margin-bottom: 20px;
}
.greenhouse__button{
    // background-color: $primary;
    // &:hover{
    //     background-color: darken($primary, 30%);
    // }
}
.greenhouse__text{
    font-size:1.2rem;
    padding: 5px 10px;
    font-weight: $font-light;
}
.greenhouse__list{
    padding-left: 10px;
    position:relative;
    padding-left:20px;
    text-align:left;
}

  .greenhouse__list::before{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f06c ";
    color:$black;
    position:absolute;
    left:0;
  }


