*::before, *::after, *{
    box-sizing: border-box;
  }
  html{
    margin:0;
    padding:0;
    height:100%
  }
  html,body{
  margin:0;
  padding:0;
  font-size:100%;

  }

  body{
    width:100%;
    min-height:100%;
    line-height:1.5;
    color:#000;
    text-align:center;
    overflow-x: hidden; /* for my nav and header-slider */
    font-family: $font-main;
    position:relative; /*for my hamburger menu */
  }

 :focus{
  outline: 1px dashed $black;
  }
.clear::after{                /* questo è un state changer che mette clear per il float. è da mettere sul container, dato che after funge da ultimo figlio */
    content:'';
    clear:both;
    display:table;
  }
  
  .rsp-img{
    max-width:100%;  /* per le foto */
  }
  .unstyled-list{
    list-style:none; /* lo uso prevalentemente per navigation */
    padding:0;
    margin:0;
  }
  .unstyled-link{
    text-decoration: none; /* questo mi serve per <ul> del nav. */
    color:inherit;
  }
  .container{
    width:90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow-x:hidden; /* per il mio header: ho tre items dentro, per evitare che si veda.*/
  }
  .large-screen{
    display:none;
  }
  /*
  screenreaders: sposta l'elemento cosi è invisibile. utile per quando devo fare design,
  ma al contempo, devo tenere conto dell'accessibilità*/
  .sr-only {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    }

    .icon{
      font-size:1.5rem;
    }
    /* Step 1: Common Properties: All required to make icons render reliably */
.icon::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
