*::before, *::after, *{
    box-sizing: border-box;
  }
  h1,h2,h3,h4,h5,h6,p{
    margin:0;
  }
  html,body{
  margin:0;
  padding:0;
  font-size:100%;
  }

  body{
    line-height:1.5;
    color:#000;
    text-align:center;
    overflow-x: hidden;
  }
  
  button{
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
  }
.btn{
    text-decoration:none;
    color:inherit;
}
.clear::after{                /* questo è un state changer che mette clear per il float */
    content:'';
    clear:both;
    display:table;
  }
  
  .rsp-img{
    max-width:100%;
  }
  .unstyled-list{
    list-style:none; //lo uso prevalentemente per navigation
    padding:0;
    margin:0;
  }
  .unstyled-list a{
    text-decoration: none;
    color:inherit;
  }