/* Color 
======================================== */
// generale colors

$primary: #a0e52c;
$secondary: #859763;
$accent: #d34c21;

$white: #f8fff8;
$black: #444;
//text color
$text-primary: $primary;
$text-secondary: $secondary;
$text-accent: $accent;
