/*
* in questa sezione saranno definiti tutte le cose riguardanti il testo
*
*/
/* DEFAULT TYPOGRAPHY
===================================================================================*/
p {
    margin: 0 0 0.75rem;
    &:last-child {
        margin: 0;
        /*per ragioni di estetica, altrimenti il margin all'ultimo <p> o <heading> andrebbe
                     a squillibrare il white space che metto tra i vari layout */
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-family: $font-secondary;
    margin: 0 0 0.75rem;

    &:last-child {
        margin: 0;
        /*per ragioni di estetica, altrimenti il margin all'ultimo <p> o <heading> andrebbe
                   a squillibrare il white space che metto tra i vari layout */
    }
}

/* MAIN TYPOGRAPHY
  ====================================================================================*/
.title--main {
    font-weight: $font-semibold;
    line-height: 1;
}

.para--main {
    font-size: 1rem;
    font-weight: $font-regular;
    text-align:justify;
    @media (min-width:750px){
        margin-bottom: 2rem;
    }
}

/* SECONDARY TYPOGRAPHY
==========================================================================================*/
.title--secondary {
    font-weight: $font-semibold;
    font-family: $font-main;
}

.title--secondary::after{
    content:'';
    display:block;
    width: 100px;
    height: 3px;
    margin: 0 auto;
    background-color: $secondary;
}
.para--secondary {
    font-size: 0.8rem;
    font-weight: $font-regular;
    text-align:justify;
}
/* TERTIARY TYPOGRAPHY
=============================================================================================*/
.title--tertiary{
// font-size:1.2rem;
font-family: $font-main;
}
.para--tertiary{
    font-size: 0.6rem;
    font-weight: $font-regular;
    text-align:justify;
}
/* QUATERNARY TYPOGRAPHY
=============================================================================================*/
.title--quaternary{
font-size:1rem;
font-family: $font-main;
}


    .text--box{
        border: 10px solid $secondary;
        padding: 30px 12px 5px 12px;
        text-align:justify;
        letter-spacing: .1rem;
    
    }
    

/* ABOUT-US
=============================================================================================*/
.about-us__title{
    margin:0;
    transform: translateY(55%);
    display: inline-block;
    background-color:darken($secondary, 30%);
    padding: 10px;

}

/* OUR SERVICES
===============================================================================================*/
/*FOOTER
===============================================================================================*/
.footer__item{
    color:$black;
}
.footer__title{
    font-size: 1.4rem;
    font-family: $font-main;
    color:#000;
}
.footer__social-icon{
    font-size:2rem;
}
.footer__nav, .footer__contact{
    text-transform:capitalize;
}
.footer__para{
    font-size:0.8rem;
}

/* TEXT UTILITIES
===================================================================================================*/
.text--left{
    text-align:left;
}